/* --------------specification--------------------- */
:root {
  --btn-color: blue;
}
body {
	font-family: var(--font-rubik); 
	font-weight: 400;
	font-size: 18px;
	line-height: 1.55em;
	color: #505056;
}
.container {
	max-width: 1270px;
	margin: 0 auto;
	padding: 0 15px;
}
.display-none {
	display: none;
}
.btn-mod {
	
}

/* --------------HEADEER--------------------- */

/* --------------HOME SECTION--------------------- */

/* --------------FOOTER--------------------- */
