// specification

$black: #000;
$white: #fff;
$header-color: #181818;
$btn-color: #000;
$home-text: #C0C0C0;

body {
   font-family: poppins, sans-serif; 
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   color: $white;
   background: $black;
}

h1,h2,h3,h4,h5,p,span {font-weight: 400;}

.btn {
   position: relative;
   color: $btn-color; 
   padding: 9px 20px 13px 46px; 
   font-size: 16px; 
   background: $white; 
   border-radius: 14px; 
   transition: .2s ease-in;
   margin: 3px 0 3px;
   &:hover {
      margin: 0 0 6px;
   }
}

.btn::before {
   position: absolute;
   content: '';
   width: 32px;
   height: 32px;
   background: url('../img/dots.svg');
   left: 4px;
   top: 50%;
   transform: translateY(-50%);
}

.text--uppercase {
   text-transform: uppercase;
   letter-spacing: 2px;
   font-size: 14px;
}

.container {
   max-width: 1230px; 
   margin: 0 auto; 
   padding: 0 15px; 
}

.display-none {display: none; }  

// HEADER
.header {
   position: sticky;
   top: 0;
   z-index: 10;
   background: $header-color; 
   &__wr {
      display: flex; 
      justify-content: space-between; 
      align-items: center; 
      height: 90px; 
   }   
   
   &__logo {width: 128px;}   

   &__nav {
      display: flex; 
      max-width: 700px; 
      align-items: center; 
   }
      
   &__list { 
      display: flex; 
      justify-content: space-between; 
      gap: 32px; 
      font-size: 15px; 
      margin-right: 32px;
   } 
   
   &__item {
      transition: .2s ease-in; 
      padding: 10px 0; 
      border-bottom: 1px solid $header-color;
   }

   &__item:hover {border-bottom: 1px solid $white;}   
   
   &__btn {
      color: $btn-color; 
      padding: 9px 20px 13px; 
      font-size: 16px; 
      background: $white; 
      border-radius: 14px;
      margin: 12px 0;
      transition: .2s ease-in;
   }

   &__btn:hover {margin: 9px 0 15px 0;}
}

// Home section
.home {
   background: linear-gradient(360deg, #000000 18.78%, rgba(0, 0, 0, 0) 98.53%), url('../img/home_img.png');
   background-size: cover;
   height: 716px;
   z-index: 1;
   padding-top: 441px;
   margin-bottom: 40px;

   &__wr-txt {
      bottom: 0;
      text-align: center;
      max-width: 600px;
      margin: 0 auto;
      padding: 20px 10px 10px;
      margin-bottom: 14px;
   }

   &__subtitle {color: $home-text;}

   &__title {
      font-size: 54px;
      line-height: 59px;
      margin-bottom: 18px;
   }

   &__text {color: $home-text; }	
}

// Options block
.options {
   &__list {
      display: flex;
      justify-content: end;
      margin-right: -70px;
   }

   &__item {
      position: relative;
      display: flex;
      font-size: 12px;
      margin-left: 40px;
   }	

   &__item:nth-child(3) {margin-left: 62px;}	

   &__item span::after{
      position: absolute;
      content: '';
      left: -22px;
      bottom: -1px;
      width: 16px;
      height: 16px;
   }	

   &__item:first-child span::after{background: url('../img/clok.svg');}	

   &__item:nth-child(2) span::after{background: url('../img/foto.svg');}	

   &__item:nth-child(3) span::after{
      background: url('../img/iso.svg');
      width: 32px;
      left: -42px;
   }	

   &__item:nth-child(4) span::after{
      background: url('../img/map.svg');
      width: 10px;
   }	
}

 // What we do
 .we-do {padding: 120px 0 100px;

   &__wrapp {text-align: center;}

   &__title {
      display: block;
      font-size: 40px;
      line-height: 42px;
      margin-bottom: 15px;
   }

   &__txt {
      display: block;
      margin-bottom: 42px;
   }

   &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;  
   }

   &__item {
      display: flex;
      flex-direction: column;
      justify-content: end;
      width: 576px;
      height: 600px;
      padding: 0 45px 30px 30px;
      background: url('../img/what_we_do_1.png') 100% no-repeat;
      background-size: cover;
   }

   &__item:nth-child(2) {background: url('../img/what_we_do_2.png') 100% no-repeat;}

   &__item:nth-child(3) {background: url('../img/what_we_do_3.png') 100% no-repeat;}

   &__item:nth-child(4) {background: url('../img/what_we_do_4.png') 100% no-repeat;}

   &__item-title {margin-bottom: 14px;}

   &__item-txt {margin-bottom: 14px;}

   &__btn {max-width: 157px;}
}

// Japan
.japan {
   background: url("../img/japan.png");
   background-size: cover;
   background-repeat: no-repeat;
   height: 600px;
   padding: 260px 0 0 0;

   &__block {
      display: flex;
      flex-direction: column;
      align-items: end;
      height: 85vh;
   }

   &__wrapp-txt {
      max-width: 298px;
   }

   &__text {color: #C0C0C0;}
}
.japan__options {margin-top: 204px;}

// The Gear cage 
.gear {
   background: url("../img/the_tools.png");
   background-size: 50%;
   background-position: 100%;
   background-repeat: no-repeat;
   height: 540px;

   &__wrapp {display: flex;}

   &__block-1 {
      max-width: 514px;
      height: 540px;
      margin-right: 106px;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   &__subtitle {
      color: #C0C0C0;
      margin-bottom: 6px;
   }

   &__title {
      font-size: 28px;
      line-height: 32px;
      margin-bottom: 14px;
   }

   &__text {margin-bottom: 30px;}

   &__btn {width: 163px;}

   &__block-2 {
      width: 100%;
      display: flex;
      align-items: end;
      justify-content: flex-end;
      padding-bottom: 34px;
   }

   &__list{margin-right: -100px;}
}

// Costa Rica
.costa {
   background-image: url("../img/costa_rica.png");
   background-repeat: no-repeat;
   background-size:cover;
   height: 600px;

   &__block {
      display: flex;
      justify-content: end;
      height: 550px;
   }

   &__wrapp-txt {
      max-width: 273px;
      margin: auto 250px ;
   }

   &__text {color: #C0C0C0;}
}

// Past clients
.clients {
   padding: 120px 0 100px;

   &__wrapp-txt {
      text-align: center;
   }

   &__title {
      font-size: 40px;
      line-height: 42px;
      margin-bottom: 15px;
   }

   &__subtitle {
      color: #C0C0C0;
      font-size: 23px;
      line-height: 30px;
      margin-bottom: 42px;
   }

   &__wrapp-img {
      display: flex;
      justify-content: space-between;
      padding: 40px 62px;
   }

   &__img {
      max-width: 128px;
      width: 100%;
      object-fit: contain;
      margin: auto 0;
      transition: .2s ease-in;
   }
}

// Nepal
.nepal {
   background-image: url("../img/nepal.png");
   background-repeat: no-repeat;
   background-size:cover;
   height: 600px;
   &__block {
     padding-top: 250px;
   }

   &__wrapp-txt {
      max-width: 243px;
      margin-left: auto;   
   }

   &__text {color: #C0C0C0;}

   &__options {margin-top: 194px;}
}

// Need help with photography or videography?
.need-help { 
   padding: 113px 0 108px;   
   &__box {
      max-width: 575px;
      margin: 0 auto;
      text-align: center;
   }

   &__title {
   font-style: normal;
   font-size: 40px;
   line-height: 42px;
   margin-bottom: 15px;
   }

   &__subtitle {
      display: block;
      font-size: 24px;
      color: #C0C0C0;
      margin-bottom: 50px;
   }

   &__btn {
      display: inline-block;
   }
}

// Footer
.footer {
   padding: 100px 0 100px;
   &__box {
      display: flex;
      justify-content: space-between;
      padding-bottom: 36px;
      border-bottom: 1px solid $white;
   }

   &__box-logo {max-width: 440px;}

   &__logo {margin-bottom: 20px;}

   &__logo-txt {
      font-size: 13px;
      color: #C0C0C0;
   }

   &__nav-box {
      display: flex;
      gap: 16px;
   }

   &__menu-list {
      max-width: 220px;
      padding-right: 38px;
      &:nth-child(2) {
         padding-right: 100px;
      }
   }

   &__menu-title {
      display: block;
      color: #C0C0C0;
      margin-bottom: 10px;
   }

   &__menu-item {
      display: inline-block;
      margin-bottom: 5px;
      padding-bottom: 5px;
      border-bottom: 1px solid #000;
      transition: .1s ease-in;
      &:last-child {
         margin: 0;
      }
      &:hover {
         color: #C0C0C0;
         border-bottom: 1px solid #fff;         
      }
   }

   &__box-subscribe {
      padding: 36px 0 40px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #fff;    
      align-items: center;     

   }

   &__subscribe-box-txt {
      max-width: 400px;
   }

   &__subscribe-txt {
      display: block;
      margin-bottom: 20px;

   }

   &__subscribe-subtitle {
      display: block;
      font-size: 13px;
      color: #C0C0C0;
   }

   &__btn {
      display: block;
      position: relative;
      width: 458px;
      height: 52px;
      &::before {
         background: none;
      }
      &::after {
         position: absolute;
         content: '';
         width: 63px;
         height: 30px;
         background: url('../img/footer_dots-icon.svg');
         right: 10px;
         top: 50%;
         transform: translateY(-50%);
      }
   }



   &__box-social {
      padding: 86px 0 100px;
      display: flex;
      justify-content: space-between;
      
   }

   &__social-wrap {
      display: flex;
      gap: 20px;
      a {
         width: 24px;
         height: 24px;
         background-size: 100%;
         background-repeat: no-repeat;
         margin: 2px 0;
         transition: .2s ease-in;
         &:hover {
            margin: 0 0 4px;
         }
      }
   }

   &__social-btn-tw {
      background-image: url("../img/twiter.svg");
   }

   &__social-btn-in {
      background-image: url("../img/instagram.svg");
   }

   &__social-btn-fa {
      background-image: url("../img/faceboock.svg");
   }
}


